html, body {
  height: 100%; }

.second-container {
  width: 85%;
  margin: 0 auto; }

#navbar {
  margin-bottom: 20px;
  background-color: #262F3C;
  border: none; }
  #navbar .navbar-header .navbar-brand {
    padding: 0 30px;
    padding: 0 30px;
    height: 100px;
    line-height: 100px;
    color: #fff;
    font-size: medium;
    font-weight: 700; }
  #navbar #navbar-game {
    width: 100%;
    margin: 0 auto; }
    #navbar #navbar-game ul li a {
      text-align: center;
      padding: 0 30px;
      height: 100px;
      line-height: 100px;
      color: #fff;
      font-size: medium;
      font-weight: 700; }

#ai-game {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
  background: url("../Image/background.jpg") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }
  #ai-game #homepage .jumbotron img {
    margin: 0 auto; }
  #ai-game #homepage .description-text p {
    font-size: 0.9em; }
  #ai-game #regpage {
    padding: 30px 0; }
    #ai-game #regpage form {
      width: 400px;
      margin: 0 auto; }
      #ai-game #regpage form h1 {
        text-align: center;
        margin: 20px;
        color: #242424;
        font-size: 2em;
        font-weight: 700; }
      #ai-game #regpage form label {
        color: #363636; }
    #ai-game #regpage .submit-compoments {
      width: 400px;
      margin: 0 auto;
      text-align: right; }
      #ai-game #regpage .submit-compoments .submit-btn a {
        width: 100%;
        font-weight: 700; }
      #ai-game #regpage .submit-compoments .details {
        margin-top: 10px; }
        #ai-game #regpage .submit-compoments .details a {
          text-decoration-line: underline; }
  #ai-game #rankpage h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 2px #fff; }
  #ai-game #rankpage table thead {
    color: white;
    font-size: 1em; }
    #ai-game #rankpage table thead th {
      text-align: center; }
  #ai-game #rankpage table tbody tr:nth-child(even) {
    background-color: #ddd; }
  #ai-game #rankpage table tbody td {
    text-align: center;
    vertical-align: middle; }
  #ai-game #battlepage {
    margin-top: 5px;
    padding: 0 20px; }
    #ai-game #battlepage .battle-part {
      width: 100%;
      height: 300px;
      padding: 10px;
      border: 2px solid #1b6d85;
      -webkit-box-shadow: 1px 1px 1px 2px #204d74;
      -moz-box-shadow: 1px 1px 1px 2px #204d74;
      box-shadow: 1px 1px 1px 2px #204d74; }
      #ai-game #battlepage .battle-part .choose-enemy {
        width: 60%;
        height: 40px;
        line-height: 40px;
        margin: 30px auto; }
        #ai-game #battlepage .battle-part .choose-enemy select {
          height: 40px; }
        #ai-game #battlepage .battle-part .choose-enemy a {
          height: 40px;
          padding: 0;
          line-height: 40px; }
        #ai-game #battlepage .battle-part .choose-enemy span {
          font-size: 1.1em;
          font-weight: 700;
          color: white; }
      #ai-game #battlepage .battle-part .battle-result {
        width: 60%;
        margin: 0 auto;
        text-align: center; }
        #ai-game #battlepage .battle-part .battle-result span {
          color: #999;
          font-size: 1em; }
        #ai-game #battlepage .battle-part .battle-result p {
          color: #FF873F;
          font-size: 2.5em;
          margin-top: 20px;
          margin-bottom: 30px; }
    #ai-game #battlepage .battle-history h1 {
      text-align: center;
      margin-bottom: 20px;
      font-weight: 700;
      color: #fff;
      text-shadow: 2px 2px 2px #fff; }
    #ai-game #battlepage .battle-history table thead {
      color: white;
      font-size: 1em; }
      #ai-game #battlepage .battle-history table thead th {
        text-align: center; }
    #ai-game #battlepage .battle-history table tbody tr:nth-child(even) {
      background-color: #ddd; }
    #ai-game #battlepage .battle-history table tbody td {
      text-align: center;
      vertical-align: middle; }
  #ai-game #code-management .code-header {
    margin-top: 5px;
    padding: 15px;
    height: 100px;
    background-color: #ddd; }
    #ai-game #code-management .code-header h1 {
      font-size: 1.5em;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 15px; }
    #ai-game #code-management .code-header span {
      font-size: 1.2em;
      color: #999; }
  #ai-game #code-management .version-list .ver-list-wrap {
    margin: 20px 0; }
    #ai-game #code-management .version-list .ver-list-wrap .ver-item {
      display: inline-block;
      margin: 10px; }
      #ai-game #code-management .version-list .ver-list-wrap .ver-item .ver-pic {
        display: inline-block;
        float: left;
        height: 100px;
        width: 100px;
        border: 1px solid #999;
        line-height: 100px; }
        #ai-game #code-management .version-list .ver-list-wrap .ver-item .ver-pic p {
          width: 40px;
          margin: 0 auto;
          font-size: .9em; }
      #ai-game #code-management .version-list .ver-list-wrap .ver-item .ver-detail {
        display: inline-block;
        margin: 0 10px; }
        #ai-game #code-management .version-list .ver-list-wrap .ver-item .ver-detail span {
          display: block;
          font-size: .8em; }
  #ai-game #code-management .version-list .ver-select {
    text-align: center; }
    #ai-game #code-management .version-list .ver-select span {
      display: block;
      margin: 15px;
      color: #999; }
  #ai-game #code-management .file-submit {
    width: 100%;
    height: 350px;
    padding: 10px;
    margin-bottom: 50px;
    background-color: #ddd; }
    #ai-game #code-management .file-submit .submit-part {
      width: 80%;
      margin: 0 auto; }
      #ai-game #code-management .file-submit .submit-part .file-select input {
        background-color: #ddd; }
      #ai-game #code-management .file-submit .submit-part .confirm {
        color: #1E90FF; }
      #ai-game #code-management .file-submit .submit-part .submit-file-btn {
        width: 100%;
        margin: 20px 0;
        text-align: center; }

/*@media (max-width: 1390px){#nav-background{height: 200px;}}
@media (max-width: 1108px){#nav-background{height: 300px;}}
@media (max-width: 767px){#nav-background{height: 100px;}}*/

/*# sourceMappingURL=style.css.map */
