html {
  min-height: 100%;
  background: url("../Image/background.gif") no-repeat top center;
  -webkit-background-size: 100%;
  background-size: 100%; }

body {
  height: 100%;
  background: none; }

.cover-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000; }

.second-container {
  width: 85%;
  margin: 0 auto; }

#Cocos2dGameContainer {
  text-align: center; }

#navbar {
  margin-bottom: 20px;
  background-color: #ff873f;
  border: none;
  box-shadow: 1px 1px 2px #aaa; }
  #navbar .navbar-header .navbar-brand {
    padding: 0 30px;
    padding: 0 30px;
    height: 100px;
    line-height: 100px;
    color: #eee;
    font-size: medium;
    font-weight: 700; }
    #navbar .navbar-header .navbar-brand img {
      width: 200px;
      height: 100%; }
  #navbar #navbar-game {
    width: 100%;
    margin: 0 auto; }
    #navbar #navbar-game ul li a {
      text-align: center;
      padding: 0 30px;
      height: 100px;
      line-height: 100px;
      color: #eee;
      font-size: medium;
      font-weight: 700; }

#ai-game {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 233, 233, 0.7); }
  #ai-game #homepage .jumbotron img {
    margin: 0 auto; }
  #ai-game #homepage .description-text {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    height: 50px;
    overflow: hidden; }
    #ai-game #homepage .description-text .text-wrap {
      position: relative;
      top: 0; }
      #ai-game #homepage .description-text .text-wrap p {
        font-size: 2em;
        font-weight: 700; }
  #ai-game #regpage {
    padding: 30px 0; }
    #ai-game #regpage form {
      width: 500px;
      margin: 0 auto; }
      #ai-game #regpage form h1 {
        text-align: center;
        margin: 20px;
        color: #fff;
        font-size: 2em;
        font-weight: 700; }
      #ai-game #regpage form label {
        color: #fff; }
    #ai-game #regpage .submit-compoments {
      width: 500px;
      margin: 0 auto;
      text-align: right; }
      #ai-game #regpage .submit-compoments .submit-btn a {
        width: 100%;
        font-weight: 700; }
      #ai-game #regpage .submit-compoments .details {
        margin-top: 10px; }
        #ai-game #regpage .submit-compoments .details a {
          text-decoration-line: underline; }
  #ai-game #rankpage h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: #FF9E32;
    text-shadow: 2px 2px 2px #000; }
  #ai-game #rankpage table thead {
    color: #FF9E32;
    font-size: 1em;
    background-color: #eee; }
    #ai-game #rankpage table thead th {
      text-align: center; }
  #ai-game #rankpage table tbody tr:nth-child(even) {
    background-color: #ddd; }
  #ai-game #rankpage table tbody td {
    text-align: center;
    vertical-align: middle; }
  #ai-game #battlepage {
    margin-top: 5px;
    padding: 0 20px; }
    #ai-game #battlepage .battle-part {
      width: 100%;
      height: 300px;
      padding: 10px;
      border: 2px solid #FF9E32;
      -webkit-box-shadow: 1px 1px 1px 2px #FF9E32;
      -moz-box-shadow: 1px 1px 1px 2px #FF9E32;
      box-shadow: 1px 1px 1px 2px #FF9E32; }
      #ai-game #battlepage .battle-part .choose-enemy {
        width: 60%;
        height: 40px;
        line-height: 40px;
        margin: 30px auto; }
        #ai-game #battlepage .battle-part .choose-enemy select {
          height: 40px; }
        #ai-game #battlepage .battle-part .choose-enemy a {
          height: 40px;
          padding: 0;
          line-height: 40px; }
        #ai-game #battlepage .battle-part .choose-enemy span {
          font-size: 1.1em;
          font-weight: 700;
          color: white; }
      #ai-game #battlepage .battle-part .battle-result {
        width: 60%;
        margin: 0 auto;
        text-align: center; }
        #ai-game #battlepage .battle-part .battle-result span {
          color: #999;
          font-size: 1em; }
        #ai-game #battlepage .battle-part .battle-result p {
          color: #FF873F;
          font-size: 2.5em;
          margin-top: 20px;
          margin-bottom: 30px; }
    #ai-game #battlepage .battle-history h1 {
      text-align: center;
      margin-bottom: 20px;
      font-weight: 700;
      color: #FF9E32;
      text-shadow: 2px 2px 2px #000; }
    #ai-game #battlepage .battle-history table thead {
      color: #FF9E32;
      font-size: 1em;
      background-color: #eee; }
      #ai-game #battlepage .battle-history table thead th {
        text-align: center; }
    #ai-game #battlepage .battle-history table tbody tr:nth-child(even) {
      background-color: #ddd; }
    #ai-game #battlepage .battle-history table tbody td {
      text-align: center;
      vertical-align: middle; }
  #ai-game #code-management .code-header {
    margin-top: 5px;
    padding: 15px;
    text-align: left;
    background-color: rgba(233, 233, 233, 0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #ai-game #code-management .code-header h1 {
      font-size: 1.5em;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 15px;
      color: #ff9e32; }
    #ai-game #code-management .code-header span {
      font-size: 1.2em;
      color: #666; }
  #ai-game #code-management .version-list .ver-list-wrap {
    margin: 20px 0; }
    #ai-game #code-management .version-list .ver-list-wrap .ver-item {
      display: inline-block;
      margin: 10px;
      padding: 5px;
      color: #000;
      background-color: rgba(255, 158, 50, 0.7);
      border: 1px solid #FF9E32;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 1px 1px 1px 2px #ff9e32;
      -moz-box-shadow: 1px 1px 1px 2px #ff9e32;
      box-shadow: 1px 1px 1px 2px #ff9e32; }
      #ai-game #code-management .version-list .ver-list-wrap .ver-item .ver-pic {
        display: inline-block;
        float: left;
        height: 100px;
        width: 100px;
        border: 1px solid #999;
        line-height: 100px; }
        #ai-game #code-management .version-list .ver-list-wrap .ver-item .ver-pic p {
          width: 40px;
          margin: 0 auto;
          font-size: .9em; }
      #ai-game #code-management .version-list .ver-list-wrap .ver-item .ver-detail {
        display: inline-block;
        margin: 0 10px; }
        #ai-game #code-management .version-list .ver-list-wrap .ver-item .ver-detail span {
          display: block;
          font-size: .8em; }
  #ai-game #code-management .version-list .ver-select {
    text-align: center; }
    #ai-game #code-management .version-list .ver-select span {
      display: block;
      margin: 15px;
      color: #999; }
  #ai-game #code-management .file-submit {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    background-color: #ddd;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(150, 150, 150, 0.5);
    -moz-box-shadow: 2px 2px 2px 2px rgba(150, 150, 150, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(150, 150, 150, 0.5); }
    #ai-game #code-management .file-submit h1 {
      margin: 0; }
    #ai-game #code-management .file-submit .submit-part {
      width: 80%;
      margin: 20px auto; }
      #ai-game #code-management .file-submit .submit-part .file-select input {
        background-color: #ddd; }
      #ai-game #code-management .file-submit .submit-part .confirm {
        color: #1E90FF; }
      #ai-game #code-management .file-submit .submit-part .submit-file-btn {
        width: 100%;
        margin: 20px 0;
        text-align: center; }
  #ai-game #replay {
    padding: 10px; }
    #ai-game #replay .scene-container {
      height: 650px;
      margin: 0 auto; }

/*@media (max-width: 1390px){#nav-background{height: 200px;}}
@media (max-width: 1108px){#nav-background{height: 300px;}}
@media (max-width: 767px){#nav-background{height: 100px;}}*/

/*# sourceMappingURL=style.css.map */
