$design01: #337ab7;
$design02: #00FFBC;
$design03: #7FCCFF;
$design04: #FF873F;
$design05: #363636;
$design06: #A4A4A4;
$design07: #242424;
$design08: #262F3C;

$container-padding: 50px;
$a-height: 100px;
$form-width: 500px;
$nav-color: #262F3C;
$battle-color: #ddd;
$choose-enemy-height: 40px;
$version-height: 100px;

html {
	min-height: 100%;
}
body {
	height: 100%;
	background: #000000;
;}

@mixin nav-a {
	padding: 0 30px;
	height: $a-height;
	line-height: $a-height; 
	color: #fff;
	font-size: medium;
	font-weight: 700;
}

@mixin table-compoment {
	h1 {
		text-align: center;
		margin-bottom: 20px;
		font-weight: 700;
		color: #fff;
		text-shadow: 2px 2px 2px #fff;
	}
	table {
		thead {
			color: white;
			font-size: 1em;
			th {
				text-align: center;
			}
		}
		tbody {
			tr:nth-child(even) {
				background-color: #ddd;
			}
			td {
				text-align: center;
				vertical-align: middle;
			}
		}
	}
}

.second-container {
	width: 85%;
	margin: 0 auto;
}

#navbar {
	margin-bottom: 20px;
	background-color: $nav-color;
	border: none;
	.navbar-header {
		.navbar-brand {
			padding: 0 30px;
			@include nav-a;
			img {
				width: 200px;
				height: 100%;
			}
		}
	}
	#navbar-game {
		width: 100%;
		margin: 0 auto;
		ul {
			li {
				a {
					text-align: center;
					@include nav-a;
				}
			}
		}
	}
}

#ai-game {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: 100%;
	background: url("../Image/background.jpg") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	#homepage {
		.jumbotron {
			img {
				margin: 0 auto;
			}
		}
		.description-text {
			p {
				font-size: 0.9em;
			}
		}
	}
	#regpage {
		padding: 30px 0;
		form {
			width: $form-width;
			margin: 0 auto;
			h1 {
				text-align: center;
				margin: 20px;
				color: #fff;
				font-size: 2em;
				font-weight: 700;
			}
			label {
				color: #fff;
			}
		}
		.submit-compoments {
			width: $form-width;
			margin: 0 auto;
			text-align: right;
			.submit-btn {
				a {
					width: 100%;
					font-weight: 700;
				}
			}
			.details {
				margin-top: 10px;
				a {
					text-decoration-line: underline;
				}
			}
		}
	}
	#rankpage {
		@include table-compoment;
	}
	#battlepage {
		margin-top: 5px;
		padding: 0 20px;
		.battle-part {
			width: 100%;
			height: 300px;
			padding: 10px;
			border: 2px solid #1b6d85;
			-webkit-box-shadow: 1px 1px 1px 2px #204d74;
			-moz-box-shadow: 1px 1px 1px 2px #204d74;
			box-shadow: 1px 1px 1px 2px #204d74;
			.choose-enemy {
				width: 60%;
				height: $choose-enemy-height;
				line-height: $choose-enemy-height;
				margin: 30px auto;
				select {
					height: $choose-enemy-height;
				}
				a {
					height: $choose-enemy-height;
					padding: 0;
					line-height: $choose-enemy-height;
				}
				span {
					font-size: 1.1em;
					font-weight: 700;
					color: white;
				}
			}
			.battle-result {
				width: 60%;
				margin: 0 auto;
				text-align: center;
				span {
					color: #999;
					font-size: 1em;
				}
				p {
					color: $design04;
					font-size: 2.5em;
					margin-top: 20px;
					margin-bottom: 30px;
				}
			}
		}
		.battle-history {
			@include table-compoment;
		}
	}
	#code-management {
		.code-header {
			margin-top: 5px;
			padding: 15px;
			text-align: left;
			background-color: rgba(233,233,233,0.7);
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			h1 {
				font-size: 1.5em;
				font-weight: 700;
				margin-top: 0;
				margin-bottom: 15px;
			}
			span {
				font-size: 1.2em;
				color: #666;
			}
		}
		.version-list {
			.ver-list-wrap {
				margin: 20px 0;
				.ver-item {
					display: inline-block;
					margin: 10px;
					padding:5px;
					color: #000;
					background-color: rgba(230,230,230,0.7);
					border: 1px solid #1b6d85;
					-webkit-border-radius:5px;
					-moz-border-radius:5px;
					border-radius:5px;
					-webkit-box-shadow: 1px 1px 1px 2px #204d74;
					-moz-box-shadow: 1px 1px 1px 2px #204d74;
					box-shadow: 1px 1px 1px 2px #204d74;
					.ver-pic {
						display: inline-block;
						float: left;
						height: $version-height;
						width: $version-height;
						border: 1px solid #999;
						line-height: $version-height;
						p {
							width: 40px;
							margin: 0 auto;
							font-size: .9em;
						}
					}
					.ver-detail {
						display: inline-block;
						margin: 0 10px;
						span {
							display: block;
							font-size: .8em;
						}
					}
				}
			}
			.ver-select {
				text-align: center;
				span {
					display: block;
					margin: 15px;
					color: #999;
				}
			}
		}
		.file-submit {
			width: 100%;
			padding: 10px;
			margin-bottom: 50px;
			background-color: #ddd;
			border-radius: 5px;
			-webkit-box-shadow: 2px 2px 2px 2px  rgba(150, 150, 150, 0.5);
			-moz-box-shadow: 2px 2px 2px 2px  rgba(150, 150, 150, 0.5);
			box-shadow: 2px 2px 2px 2px  rgba(150, 150, 150, 0.5);
			h1 {
				margin: 0;
			};
			.submit-part {
				width: 80%;
				margin: 20px auto;
				.file-select {
					input {
						background-color: #ddd;
					}
				}
				.confirm {
					color: #1E90FF;
				}
				.submit-file-btn {
					width: 100%;
					margin: 20px 0;
					text-align: center;
				}
			}
		}
	}
	#replay {
		margin-right: 0;
		margin-left: 0;
		padding: 10px;
		width: 100%;
		.scene-container {
			width: 80%;
			min-width: 800px;
			height: 650px;
			margin: 0 auto;
			background-color: #1E90FF;
		}
	}
}


/*@media (max-width: 1390px){#nav-background{height: 200px;}}
@media (max-width: 1108px){#nav-background{height: 300px;}}
@media (max-width: 767px){#nav-background{height: 100px;}}*/