$background-color : #101010;

html,body {
  height: 100%;
  position: relative;
}
body {
  background-color: $background-color;
}

texthead {
  h2 {
    font-weight: 700;
    color: #ddd;
  }
}

textdetails {
  h4 {
    font-weight: 700;
    color: #999;
  }
  p {
    color: #555;
  }
}

selfform {
  margin-top: 50px;
  padding: 30px 0;
  width: 80%;
  height: 60%;
  .ktv-logo {
    width: 100%;
    text-align: center;
    img {
      width: 40%;
    }
  }
  form {
    max-width: 600px;
    margin:50px auto;
    width: 50%;
  }
}

.input-error {
  border: 2px solid red;
}

.input-right {
  border: 2px solid green;
}

.all-wrap {
  position: relative;
  height: 100%;
}

#homepage {
  .activity-info {
    margin-top: 20px;

    .panel {

      .panel-heading {
        background-color: #222;
        color: #fff;

        h3 {
          display: inline-block;
          font-weight: 700;
        }

        .more-info {
          float: right;
        }
      }
      .panel-body {
        background-color: #333;
        color: #fff;
        a {
          color: #ddd;
        }
        a:hover {
          font-weight: 700;
          color: #fff;
          text-decoration: none;
        }
        li {
          padding-right: 5px;
        }
        .publish-date {
          float: right;
        }
      }
    }
  }
  .ktv-info {
    padding: 10px;
    .ktv-info-head {
      @extend texthead;
    }
    .ktv-details {
      @extend textdetails;
    }
  }
  .leader-info {
    padding: 10px;
    .leader-info-head {
      @extend texthead;
    }
    .leader-info-details {
      @extend textdetails;
    }
    .col-md-4 {
      text-align: center;
    }
  }
}

#news {
  .panel {
    .panel-body {
      padding: 30px 50px 30px;
      .publish-date {
        float: right;
      }
    }
  }
}

#news + footer,
#activity + footer,
#reg + footer,
#log + footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#activity {
  @extend #news;
}

#reg,#log {
  @extend selfform;
}

footer {
  .copy-right {
    background-color: #1a1a1a;
    text-align: center;
    height: 100px;
    line-height: 100px;
  }
}

#admin {
  .wrap-head {
    margin: 20px 0;
    span {
      font-size: 2em;
      color: #fff;
      font-weight: 700;
    }
  }
  .wrap-body {
    .panel-group {
      .panel-body {
        a {
          cursor: pointer;
        }
      }
    }
  }
}