<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>企鹅正面1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面10.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{242,264}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,77},{242,264}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面11.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{242,274}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,67},{242,274}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面12.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{242,284}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,57},{242,284}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{242,292}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,49},{242,292}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面14.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,246},{242,302}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,39},{242,302}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面15.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,246},{242,312}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,29},{242,312}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面16.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,246},{242,322}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{242,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{242,332}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{242,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面18.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,490},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面19.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,490},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,490},{242,290}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,51},{242,290}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面21.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,734},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面22.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,734},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面25.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,978},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面26.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,978},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面29.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1222},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面3.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,490},{242,282}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,59},{242,282}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面30.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1222},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面32.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1466},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面33.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1466},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面34.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1466},{242,306}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{242,306}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,734},{242,272}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,69},{242,272}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,734},{242,272}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,69},{242,272}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,978},{242,278}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,63},{242,278}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面38.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1466},{242,286}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,55},{242,286}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{242,292}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,49},{242,292}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1222},{242,272}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,69},{242,272}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1710},{242,262}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,79},{242,262}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面6.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1710},{242,254}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,87},{242,254}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面7.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1710},{242,244}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,97},{242,244}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面8.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1710},{242,244}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,97},{242,244}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1710},{242,254}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,87},{242,254}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>企鹅正面.png</string>
            <key>size</key>
            <string>{1314,1966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f952c3ffe5bfa3ca6a704781ef58d61:d06080b646b99b68a842bfb428be10b1:88056ae9a70df21cf11e64a2a6a7f889$</string>
            <key>textureFileName</key>
            <string>企鹅正面.png</string>
        </dict>
    </dict>
</plist>
