<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>坏大便正面1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面10.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{246,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{246,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面11.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{246,322}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{246,322}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,250},{246,324}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{246,324}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面15.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,498},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面17.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,746},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面19.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,994},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,250},{246,322}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面21.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1242},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面22.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{246,300}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{246,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面23.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,498},{246,306}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{246,306}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面24.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,746},{246,310}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{246,310}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面25.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,920},{246,314}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{246,314}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面26.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1416},{246,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{246,324}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面28.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1490},{246,328}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{246,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面3.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1664},{246,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1168},{246,316}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{246,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1058},{246,312}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{246,312}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,610},{246,308}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{246,308}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面7.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,304},{246,304}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,32},{246,304}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{246,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便正面9.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1738},{246,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>坏大便正面.png</string>
            <key>size</key>
            <string>{1224,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f828351107e4599a7b747de5f641d2c0:d220a2148f76132a749771bfb8b67bc7:f7aa4f8cd3600b9205f541a3aa37e514$</string>
            <key>textureFileName</key>
            <string>坏大便正面.png</string>
        </dict>
    </dict>
</plist>
