<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>坏外星人背面1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{246,340}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{246,340}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,330}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{240,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{240,330}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{240,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面12.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{240,328}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{240,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面13.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{240,326}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{240,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{240,326}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{240,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{240,324}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{240,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面16.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,244},{240,322}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{240,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面17.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,244},{240,320}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{240,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面18.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,244},{240,320}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{240,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,244},{240,318}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{240,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1460},{246,338}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{246,338}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,728},{242,316}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,26},{242,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面21.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,970},{242,316}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,26},{242,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面22.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,970},{242,318}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{242,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面23.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,970},{242,320}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{242,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,972},{242,322}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{242,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{242,324}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{242,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面26.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1214},{242,324}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{242,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面27.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1214},{244,326}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{244,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面28.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1216},{244,328}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{244,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1216},{244,330}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{244,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1462},{246,338}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{246,338}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{240,332}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{240,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面31.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,486},{240,332}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{240,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面32.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,486},{240,332}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{240,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,486},{240,334}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{240,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,486},{240,334}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{240,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{240,336}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{240,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面36.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,728},{240,336}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{240,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面37.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,728},{240,336}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{240,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,728},{240,338}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{240,338}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{240,338}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{240,338}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1462},{246,336}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{246,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{246,340}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{246,340}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1708},{246,336}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{246,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1710},{246,334}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{246,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1710},{246,332}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1794},{246,332}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人背面9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1462},{246,330}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{246,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>坏外星人背面.png</string>
            <key>size</key>
            <string>{1686,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c9bb631564f7cd1cf21c10e85004172:fd02a9b96afaa420c253712594bd25e0:af67f9119158dcc5bc3c70e12ae35e30$</string>
            <key>textureFileName</key>
            <string>坏外星人背面.png</string>
        </dict>
    </dict>
</plist>
