<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>坏大便背面1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面10.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{246,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{246,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面11.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{246,322}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{246,322}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,250},{246,324}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{246,324}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面15.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,498},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面17.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,746},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面19.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,994},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,250},{246,322}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面21.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1242},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面22.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{246,300}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{246,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面23.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,498},{246,304}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,32},{246,304}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面24.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,746},{246,310}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{246,310}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面25.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,912},{246,314}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{246,314}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面26.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1408},{246,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{246,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{246,324}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面28.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1656},{246,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{246,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1490},{246,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1160},{246,314}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{246,314}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1058},{246,310}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{246,310}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面6.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,606},{246,304}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,32},{246,304}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面7.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,304},{246,300}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{246,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{246,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏大便背面9.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1738},{246,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>坏大便背面.png</string>
            <key>size</key>
            <string>{1224,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd1134d14010e0900ae186bbe7417806:57ee5e40d290b1261f637c42fe7fbb41:dc8f0251df1fc83cf327dabe0accce5c$</string>
            <key>textureFileName</key>
            <string>坏大便背面.png</string>
        </dict>
    </dict>
</plist>
