<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>坏外星人正面1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1214},{244,340}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{244,340}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,330}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{240,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{240,330}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{240,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面12.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{240,328}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{240,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面13.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{240,326}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{240,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{240,326}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{240,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{240,324}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{240,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面16.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,244},{240,322}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{240,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面17.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,244},{240,322}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{240,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面18.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,244},{240,320}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{240,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,244},{240,318}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{240,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面2.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1216},{244,338}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{244,338}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,728},{242,318}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{242,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面21.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,970},{242,318}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{242,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面22.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,970},{242,318}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{242,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面23.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,970},{242,320}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{242,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,972},{242,322}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{242,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{242,324}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{242,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面26.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1214},{242,324}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{242,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1216},{244,326}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{244,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{244,328}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{244,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面29.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1460},{244,330}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{244,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1462},{244,338}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{244,338}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{240,330}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{240,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面31.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,486},{240,330}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{240,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面32.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,486},{240,332}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{240,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,486},{240,332}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{240,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,486},{240,334}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{240,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{240,334}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{240,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面36.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,728},{240,336}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{240,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面37.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,728},{240,338}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{240,338}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,728},{240,338}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{240,338}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{240,340}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{240,340}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1462},{246,336}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{246,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{246,340}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{246,340}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1708},{246,336}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{246,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1710},{246,334}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{246,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1462},{246,332}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1710},{246,332}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>坏外星人正面9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1710},{246,330}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{246,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>坏外星人正面.png</string>
            <key>size</key>
            <string>{1676,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f493b9697c3fa880b57b40d5b52711cb:9ebe8529180ef6f004a881264aadcc44:fcd010655d94b992dc973d5d759396aa$</string>
            <key>textureFileName</key>
            <string>坏外星人正面.png</string>
        </dict>
    </dict>
</plist>
