<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>外星人背面1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,336}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{246,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面10.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,662},{240,326}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{240,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,330},{240,326}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{240,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1320},{240,324}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{240,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,990},{240,322}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{240,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,658},{240,322}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{240,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1314},{240,320}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{240,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,982},{240,318}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{240,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,650},{240,316}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{240,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1268},{240,316}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{240,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面19.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1350},{240,314}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{240,314}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{246,334}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{246,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,640},{242,312}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{242,312}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,954},{242,312}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{242,312}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{242,314}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{242,314}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,322},{242,316}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{242,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2},{242,318}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{242,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,328},{242,320}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{242,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{242,320}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{242,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面27.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1342},{242,322}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{242,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{242,324}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{242,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面29.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,992},{242,326}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{242,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{246,334}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{246,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面30.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,332},{240,328}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{240,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面31.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,662},{240,328}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{240,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面32.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,332},{240,328}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{240,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面33.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1002},{240,330}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{240,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面34.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1334},{240,330}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{240,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面35.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1002},{240,330}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{240,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面36.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{240,332}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{240,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面37.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,336},{240,332}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{240,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面38.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{240,334}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{240,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面39.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,338},{240,334}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{240,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,674},{246,332}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{246,336}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{246,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1008},{246,332}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,670},{246,330}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{246,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面7.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1334},{246,328}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{246,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面8.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{246,328}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{246,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>外星人背面9.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{246,326}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>外星人背面.png</string>
            <key>size</key>
            <string>{1978,1666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cfc38da9b67f751dece63cd191a3e6d:a455a75db696f8e831e24e57d0e60a10:abb5342ef449bcea8b138c31bbb62ba9$</string>
            <key>textureFileName</key>
            <string>外星人背面.png</string>
        </dict>
    </dict>
</plist>
