<include file="Public:header" />
<div id="activity" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">公司新闻</div>
        <div class="panel-body">
            <ul class="article-wrap">
                <li><a href="#">活动活动活动活动</a><span class="publish-date">2015-12-20</span></li>
                <li><a href="#">活动活动活动活动</a><span class="publish-date">2015-12-20</span></li>
                <li><a href="#">活动活动活动活动</a><span class="publish-date">2015-12-20</span></li>
                <li><a href="#">活动活动活动活动</a><span class="publish-date">2015-12-20</span></li>
                <li><a href="#">活动活动活动活动</a><span class="publish-date">2015-12-20</span></li>
            </ul>
        </div>
    </div>
</div>
<include file="Public:footer" />