<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>大便右侧1.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{246,326}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧10.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,578},{246,320}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{246,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,330},{246,322}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,330},{246,322}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,2},{246,324}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,328},{246,324}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{246,326}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{246,326}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧17.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,250},{246,326}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{246,326}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧19.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,250},{246,326}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,578},{246,322}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{246,326}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{246,326}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,964},{246,302}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{246,302}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,654},{246,308}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{246,308}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧24.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,898},{246,312}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{246,312}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{246,318}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧26.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,330},{246,324}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧27.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{246,330}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{246,330}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,336}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{246,336}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,826},{246,318}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,654},{246,316}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{246,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧5.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,900},{246,312}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{246,312}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,902},{246,308}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{246,308}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,902},{246,304}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,32},{246,304}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧8.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,578},{246,318}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便右侧9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,654},{246,318}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>大便右侧.png</string>
            <key>size</key>
            <string>{2038,1214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eccdea8d942a675c01708cd5b9022853:f903ca35aca3a7515e6c99441c07708b:1f86e2759ae8ca0620c6c039ad221a02$</string>
            <key>textureFileName</key>
            <string>大便右侧.png</string>
        </dict>
    </dict>
</plist>
