$bgcolor : #4d4d4d;
$textcolor : #eee;
$blockTableSize : 40px;

body {
	background-color: $bgcolor;
}

.container-fluid {
	padding: 30px;
	text-align: center;

	header {
		/*test*/
		/*display: none;*/
		img {
			width: 500px;
		}
		h1 {
			color: $textcolor;
		}
	}
}

/*数字-编码部分*/
#numCoding {
	.select-part {
		/*test*/
		/*display: none;*/
		width: 60%;
		margin: 0 auto;
		padding: 30px;
		background-color: #333;
		.setting-part {
			form {
				color: $textcolor;
				/*text-align: center;*/
				input {
					/*text-align: right;*/
					color: #000;
				}
			}
		}
	}
	.prepare-part {
		display: none;
		h1 {
			color: #fff;
			font-size: 20em;
			margin-top: 100px;
			padding: 1px;
		}
	}
	.flash-part {
		display: none;
		.timer {
			color: #fff;
			font-size: 3em;
		}
		.flash-body {
			width: 80%;
			margin: 20px auto;
			background-color: #aaa;
			span {
				display: inline-block;
				font-size: 20em;
			}
		}
	}
}

/*数字-联结部分*/
#numBinding {
	.select-part {
		/*test*/
		/*display: none;*/
		width: 60%;
		margin: 0 auto;
		padding: 30px;
		background-color: #333;
		.setting-part {
			form {
				color: $textcolor;
				/*text-align: center;*/
				input {
					/*text-align: right;*/
					color: #000;
				}
			}
		}
	}
	.prepare-part {
		display: none;
		h1 {
			color: #fff;
			font-size: 20em;
			margin-top: 100px;
			padding: 1px;
		}
	}
	.flash-part {
		display: none;
		.timer {
			color: #fff;
			font-size: 3em;
		}
		.flash-body {
			width: 80%;
			margin: 20px auto;
			background-color: #aaa;
			span {
				display: inline-block;
				font-size: 20em;
			}
		}
	}
}

/*数字-记忆部分*/
#numMemory {
	.select-part {
		/*test*/
		/*display: none;*/
		width: 60%;
		margin: 0 auto;
		padding: 30px;
		background-color: #333;
		.setting-part {
			form {
				color: $textcolor;
				/*text-align: center;*/
				input {
					/*text-align: right;*/
					color: #000;
				}
			}
		}
	}
	.prepare-part {
		display: none;
		h1 {
			color: #fff;
			font-size: 20em;
			margin-top: 100px;
			padding: 1px;
		}
	}
	.flash-part {
		display: none;
		.timer {
			color: #fff;
			font-size: 3em;
		}
		.flash-body {
			margin: 20px auto;
			padding: 10px;
			background-color: #f5f5f5;
			width: 1020px;
			.table-block{
				//display: inline-block;
				float: left;
				background-color: #5cb85c;
				width: $blockTableSize;
				height: $blockTableSize;
				line-height: 36px;
				margin:5px;
				font-size: 1.3em;
				font-weight: 700;
				border:2px solid #2b542c;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				input {
					width:36px;
					height:36px;
					text-align: center;
				}
			}
			.clear {
				clear: both;
			}
		}
		#show-result {
			display: none;
		}
	}
} 