$bgcolor : #4d4d4d;
$textcolor : #eee;

body {
	background-color: $bgcolor;
}

.container-fluid {
	padding: 30px;
	text-align: center;

	header {
		/*test*/
		/*display: none;*/
		img {
			width: 500px;
		}
		h1 {
			color: $textcolor;
		}
	}
}

/*数字-编码部分*/
#numCoding {
	.select-part {
		/*test*/
		/*display: none;*/
		width: 60%;
		margin: 0 auto;
		padding: 30px;
		background-color: #333;
		.setting-part {
			form {
				color: $textcolor;
				/*text-align: center;*/
				input {
					/*text-align: right;*/
					color: #000;
				}
			}
		}
	}
	.prepare-part {
		display: none;
		h1 {
			color: #fff;
			font-size: 20em;
			margin-top: 100px;
			padding: 1px;
		}
	}
	.flash-part {
		display: none;
		.timer {
			color: #fff;
			font-size: 3em;
		}
		.flash-body {
			width: 80%;
			margin: 20px auto;
			background-color: #aaa;
			span {
				display: inline-block;
				font-size: 20em;
			}
		}
	}
}

/*数字-联结部分*/
#numBinding {
	.select-part {
		/*test*/
		/*display: none;*/
		width: 60%;
		margin: 0 auto;
		padding: 30px;
		background-color: #333;
		.setting-part {
			form {
				color: $textcolor;
				/*text-align: center;*/
				input {
					/*text-align: right;*/
					color: #000;
				}
			}
		}
	}
	.prepare-part {
		display: none;
		h1 {
			color: #fff;
			font-size: 20em;
			margin-top: 100px;
			padding: 1px;
		}
	}
	.flash-part {
		display: none;
		.timer {
			color: #fff;
			font-size: 3em;
		}
		.flash-body {
			width: 80%;
			margin: 20px auto;
			background-color: #aaa;
			span {
				display: inline-block;
				font-size: 20em;
			}
		}
	}
}

/*数字-记忆部分*/
#numMemory {
	.select-part {
		/*test*/
		/*display: none;*/
		width: 60%;
		margin: 0 auto;
		padding: 30px;
		background-color: #333;
		.setting-part {
			form {
				color: $textcolor;
				/*text-align: center;*/
				input {
					/*text-align: right;*/
					color: #000;
				}
			}
		}
	}
	.prepare-part {
		display: none;
		h1 {
			color: #fff;
			font-size: 20em;
			margin-top: 100px;
			padding: 1px;
		}
	}
	.flash-part {
		display: none;
		.timer {
			color: #fff;
			font-size: 3em;
		}
		.flash-body {
			width: 80%;
			margin: 20px auto;
			background-color: #aaa;
			span {
				display: inline-block;
				font-size: 20em;
			}
		}
	}
}