<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>企鹅正面跳动0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,858},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,490},{242,290}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,51},{242,290}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,490},{242,282}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,59},{242,282}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1034},{242,272}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,69},{242,272}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1000},{242,262}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,79},{242,262}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,734},{242,254}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,87},{242,254}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,490},{242,244}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,97},{242,244}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,490},{242,244}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,97},{242,244}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,990},{242,254}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,87},{242,254}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,734},{242,264}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,77},{242,264}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1034},{242,274}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,67},{242,274}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1070},{242,284}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,57},{242,284}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,246},{242,292}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,49},{242,292}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,554},{242,302}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{242,302}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,2},{242,312}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,29},{242,312}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{242,322}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{242,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{242,332}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{242,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,246},{242,306}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{242,306}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1034},{242,272}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,69},{242,272}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1034},{242,272}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,69},{242,272}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{242,278}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,63},{242,278}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,782},{242,286}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,55},{242,286}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,246},{242,292}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,49},{242,292}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,858},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,858},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,858},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,858},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,858},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅正面跳动0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,858},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>企鹅正面.png</string>
            <key>size</key>
            <string>{2046,1314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6546bc185eaf08bb531a62860d1761d:7cd89fc3f908427cd9c29d811196d404:88056ae9a70df21cf11e64a2a6a7f889$</string>
            <key>textureFileName</key>
            <string>企鹅正面.png</string>
        </dict>
    </dict>
</plist>
