<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>企鹅左侧01.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,858},{226,302}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{226,302}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,858},{226,302}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{226,302}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧03.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,858},{226,302}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{226,302}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧04.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,858},{226,302}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{226,302}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,230},{226,300}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,41},{226,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,758},{226,294}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,47},{226,294}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,1050},{226,286}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,55},{226,286}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,986},{226,278}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,63},{226,278}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{226,270}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,71},{226,270}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1034},{226,264}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,77},{226,264}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧11.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1034},{226,256}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,85},{226,256}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧12.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1034},{226,256}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,85},{226,256}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧13.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1034},{226,264}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,77},{226,264}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,530},{226,274}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,67},{226,274}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,758},{226,282}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,59},{226,282}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,758},{226,290}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{226,290}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,230},{226,298}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{226,298}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧18.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,548},{226,308}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{226,308}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧19.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,230},{226,316}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{226,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{226,324}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{226,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧21.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{226,334}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{226,334}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧26.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧27.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,346},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧28.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,346},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧29.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,690},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧30.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧31.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,346},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧32.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,346},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧33.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,690},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧34.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧35.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,346},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧36.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,690},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧37.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,690},{226,342}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,2},{226,318}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{226,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1054},{226,294}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,47},{226,294}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1054},{226,294}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,47},{226,294}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,458},{226,296}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,45},{226,296}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,458},{226,298}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{226,298}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,230},{226,300}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,41},{226,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧44.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,858},{226,302}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{226,302}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅左侧45.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,858},{226,302}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{226,302}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>企鹅右侧.png</string>
            <key>size</key>
            <string>{2016,1306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b4f570bad7645155a9876ba50db1c9:1f05ac44c0fafd42db7e0f5c8a1f17f7:30549a005c20ea57019e339ab371d8ef$</string>
            <key>textureFileName</key>
            <string>企鹅右侧.png</string>
        </dict>
    </dict>
</plist>
