<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>小企鹅背面0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1034},{242,292}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{242,292}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{242,282}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,59},{242,282}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,926},{242,274}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,67},{242,274}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,878},{242,264}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,77},{242,264}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,554},{242,256}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,85},{242,256}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1070},{242,246}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,95},{242,246}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1070},{242,246}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,95},{242,246}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,812},{242,256}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,85},{242,256}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,286},{242,266}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,75},{242,266}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,602},{242,274}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,67},{242,274}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,986},{242,284}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{242,284}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{242,294}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,47},{242,294}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,320},{242,304}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,37},{242,304}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,670},{242,314}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{242,314}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,346},{242,322}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{242,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,690},{242,332}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{242,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{242,316}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{242,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1024},{242,292}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{242,292}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1024},{242,292}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{242,292}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1034},{242,294}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,47},{242,294}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,304},{242,296}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,45},{242,296}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,626},{242,298}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,43},{242,298}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>小企鹅背面0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>企鹅背面.png</string>
            <key>size</key>
            <string>{1955,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89a98efa9da8574f2ec95aabc7bcb4cb:8023521444eae35124bed7af824b0387:30549a005c20ea57019e339ab371d8ef$</string>
            <key>textureFileName</key>
            <string>企鹅背面.png</string>
        </dict>
    </dict>
</plist>
