<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>企鹅背面1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,554},{242,256}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,85},{242,256}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1070},{242,246}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,95},{242,246}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1070},{242,246}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,95},{242,246}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,812},{242,256}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,85},{242,256}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,286},{242,266}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,75},{242,266}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,926},{242,274}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,67},{242,274}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面16.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,986},{242,284}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{242,284}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{242,294}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,47},{242,294}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,320},{242,304}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,37},{242,304}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面19.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,670},{242,314}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{242,314}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面20.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,346},{242,322}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{242,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面21.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,690},{242,332}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{242,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面25.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面27.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面28.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面29.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面30.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面31.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面32.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面33.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面34.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,690},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面35.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,346},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面36.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面37.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{242,316}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{242,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面39.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1034},{242,292}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{242,292}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面40.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1034},{242,292}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{242,292}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面41.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1034},{242,294}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,47},{242,294}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,304},{242,296}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,45},{242,296}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,626},{242,298}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,43},{242,298}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{242,300}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{242,300}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面6.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1024},{242,292}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{242,292}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{242,282}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,59},{242,282}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,602},{242,274}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,67},{242,274}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>企鹅背面9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,878},{242,264}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,77},{242,264}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>企鹅背面.png</string>
            <key>size</key>
            <string>{1955,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82cc4aa58a1afefb166f5d7c1965d8bf:f584a513b83fe10af203603f32b21b77:6ecfbed999879f223231ba926dcf8b1b$</string>
            <key>textureFileName</key>
            <string>企鹅背面.png</string>
        </dict>
    </dict>
</plist>
