<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>大便背面1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{246,328}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{246,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面10.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,578},{246,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{246,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,330},{246,322}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,330},{246,322}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{246,324}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,328},{246,324}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面15.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面17.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,250},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面19.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,250},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,330},{246,324}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{246,324}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{246,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,326}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,964},{246,302}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,34},{246,302}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,654},{246,308}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{246,308}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面24.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,898},{246,312}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{246,312}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面25.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,826},{246,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面26.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,578},{246,322}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面27.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{246,328}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{246,328}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,332}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{246,332}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{246,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{246,320}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,654},{246,316}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{246,316}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,900},{246,312}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{246,312}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,902},{246,308}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,28},{246,308}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,902},{246,304}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,32},{246,304}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面8.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,578},{246,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
            <key>大便背面9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,654},{246,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{246,318}}</string>
                <key>sourceSize</key>
                <string>{256,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>大便背面.png</string>
            <key>size</key>
            <string>{2038,1214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eb652cae82173366b053a6884ada259:c62392725b06a6225c9d0c1f4afb2087:7527db3c2c6cc8c898c5810640d9628e$</string>
            <key>textureFileName</key>
            <string>大便背面.png</string>
        </dict>
    </dict>
</plist>
